@import './reset.styl'
.bubble-hints{
  position: absolute;
  top:-35px;
  left:15%;
  background:red;
  padding: 2px 10px 4px 10px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 25px;
  z-index: 9;
  color:#fff;
}
.el-button--success {
  background: #47BA91 !important;
  border: #47BA91 1px solid !important;
}
.container {
  padding: 20px !important;
  box-sizing: border-box;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.header a {
  color: #4d4d4d !important;
}
.container .header {
  cursor: pointer;
}
.el-notification {
  cursor: pointer;
}